{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    </br><p>This is a test app inspired by "Lets go book" by A. Edwards</p>
    <div>
        <input type='submit' value='OK'>
    </div>
{{end}}
